body{
	background-color: #f4a261;
}


.owl-item img {
    display: block;
    width: 100%;
    border: 2px dotted #842029;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(60 136 55);
}
/*ISOTOPE*/
.btn_c {
    
    margin: 29px 5px 20px;
    width: 20%;
    text-transform: capitalize;
    border-radius: 50px;
    color: #130F0C;
    transition: .4s cubic-bezier(0.4, 0, 1, 1) !important;
    color: #130F0C;
    
    
    box-shadow: 0 18px 4px 2px rgb(74 69 75 / 24%);
    /* outline: none; */
    /* width: 30px; */
}
.btn_c:hover{
	border:1px solid #ffffff;
	background-color:#31c06a73;
}
.slick-dots li button::before {
    font-family: slick;
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
}

/*ISOTOPE*/

/**/
.img_sec img{
	
}
.slick-slide img{
	display:inline-block;
}
/**/